<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% block title %} {% endblock %}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	{% block style %} {% endblock %}
	<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>
<body class="hide-body">
<div class="preload">
	<span class="loader"><span class="loader-inner"></span></span>
</div>

<!-- Navigation Bar -->
<nav class="navbar navbar-expand-md navbar-dark bg-custom sticky-top">
<div class="container-fluid">
	<a class="navbar-brand" href="/"><img src="../static/img/done.png"> </a>
	<button class="navbar-toggler" type="button" data-toggle="collapse"
	data-target="#navbarResponsive"><span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarResponsive">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item active">
				<a class="nav-link" href="/">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">About</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Services</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Connect</a>
			</li>
		</ul>

	</div>
</div>
</nav>

{% block content %}{% endblock %}
<!--- Footer -->
<footer>
<div class="container-fluid padding">
<div class="row text-center padding">
	<div class="col-lg-6">
		<div class="small-logo">
			<img src="../static/img/logobottom.png" alt="">
		</div>
		<hr class="light">
		<div class="foot">
			<p> 821-083-8271</p>
			<p>amitjoshi9627@gmail.com</p>
			<p>Hyderabad</p>
		</div>
	</div>
	<div class="col-lg-6 foot">
		<hr class="light">
		<h5>Our Hours</h5>
		<hr class="light">
		<div class="foot">
			<p>Monday 9am-5pm</p>
			<p>Saturday 10am-4pm</p>
			<p>Sunday Closed</p>
		</div>
	</div>
	<div class="col-12">

		<hr class="light">
		<h5>&copy;AmitJoshi</h5>
	</div>
</div>
</div>
</footer>

<script>
	$(window).on("load",function(){
		$(".preload").fadeOut("slow");
	});
	$(document).ready(function(){
    	$(this).scrollTop(0);
	});
</script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
	AOS.init({
		offset: 400,
		duration:1000
	});
  </script>

</body>
</html>